* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Inter Tight", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}
.ghost {
  display: none;
}
.bilal-header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bilal-header-left-links {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.bilal-header-left-icons .icon-menu {
  width: 16px;
  height: 16px;
}
.bilal-header-left-icons .icon-menu-text {
  width: 146px;
  height: 12px;
}
.bilal-header-hamburger-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-menu-hamburger,
.bilal-header-hamburger-link {
  width: 32px;
  height: 32px;
}
.bilal-header-modal {
  height: 100vh;
  background-color: #576f35;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.bilal-header-modal-links {
  border: 1px solid #fbfbfb;
  color: white;
  width: 118px;
  height: 44px;
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 24px;
}
.modal-first-link {
  background-color: white;
  color: #7a3145;
  font-family: Inter Tight;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 12px 16px 12px 16px;
  margin-top: 296px;
}
.modal-bottom-link {
  background-color: #7a3145;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 175px;
  height: 52px;
  padding: 16px 41px;
  border-radius: 30px;
  border: none;
  margin-top: 232px;
  margin-bottom: 52px;
}
.bilal-header-modal-svg {
  width: 32px;
  height: 32px;
}
.bilal-header-modal-button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  cursor: pointer;
}

/* Mobile Menu CSS*/
header {
  width: 100%;
}
header .mobil-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh; /* Ekran yüksekliğini kaplasın */
  width: 100%;
  min-width: 320px;
  background-color: #576f35;
  z-index: 1;
}

header .mobil-menu .container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ortaya hizala */
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
header .mobil-menu .container .mobil-nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  gap: 24px;
  width: fit-content;
}
header .mobil-menu .container .mobil-nav-list .nav-list-item {
  text-align: center;
  padding: 16px 12px;
  border: 1px solid white;
  border-radius: 12px;
  min-width: 118px;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header
  .mobil-menu
  .container
  .mobil-nav-list
  .nav-list-item
  .nav-list-item-link {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 16px 12px;
  font-family: inherit;
  min-width: 118px;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: inherit;
  font-weight: 500;
}
header .mobil-menu .container .mobil-nav-list .nav-list-item:hover {
  background-color: white;
}
header .mobil-menu .container .mobil-nav-list .nav-list-item:hover,
header
  .mobil-menu
  .container
  .mobil-nav-list
  .nav-list-item:hover
  .nav-list-item-link {
  color: #7a3145;
}
header .mobil-menu .container .mobil-menu-shop {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: -0.015em;
  font-family: inherit;
  text-decoration: none;
  padding: 16px 41px;
  background-color: #7a3145;
  border-radius: 30px;
  position: absolute;
  bottom: 52px;
}
header .mobil-menu .container .modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hero Section CSS*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #576f35;
  color: #fbfbfb;
  width: 100%;
  height: 100vh;
}

.hero-text {
  width: 100%;
  margin-bottom: 52px;
  margin-top: 120px;
}

.hero-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 76px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 128px;
  margin-right: 38px;
  width: 502px;
  margin-left: 100px;
}

.hero-text p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin-right: 68px;
  color: #fbfbfb;
  width: 472px;
  margin-left:100px;
}

.hero-image {
  width: 100%;
  height: 100%;
}
.hero-image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.how-it-works {
  display: flex;
  flex-direction: column;
}

.how-it-works .how-it-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #7a3145;
}

.how-it-works .how-it-image .how-it-image-woman {
  display: block;
  max-width: 100%;
  border-radius: 30px;
}

.how-it-works .how-it-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background: #576f35;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-title {
  font-family: "Inter Tight", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-title-color {
  color: #d4bfc4;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-text {
  font-family: "Inter Tight", serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  color: #fbfbfb;
  margin: 0 0 40px 0;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: section;
  padding: 0;
  margin: 0;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-list .how-it-items {
  font-family: "Inter Tight", serif;
  font-size: 12px;
  color: #14141499;
  line-height: 1.16;
  letter-spacing: -0.02em;
  width: 100%;
  height: 76px;
  background-color: #fbfbfb;
  padding: 12px 27px 12px 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.how-it-works
  .how-it-about
  .how-it-about-menu
  .how-it-list
  .how-it-items:before {
  content: "";
  width: 42px;
  height: 42px;
  background-color: #7a3145;
  box-shadow: 0 0 0 5px #7a31454d;
  border-radius: 50%;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: section;
  content: counters(section, ".") " ";
  position: absolute;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}

.how-it-works
  .how-it-about
  .how-it-about-menu
  .how-it-list
  .how-it-items
  .how-it-items-text {
  font-family: "Inter Tight", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

.how-it-works .how-it-about .how-it-about-menu .how-it-list .how-it-items-bold {
  color: #141414;
  font-weight: 700;
}
/* Advertisement CSS */
.ad {
  min-width: 320px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.ad .container {
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  text-align: center;
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ad .container .ad-header {
  width: fit-content;
  border-radius: 12px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  font-family: inherit;
  line-height: 52px;
  letter-spacing: -0.015em;
  background-color: #576f35;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 10px;
}
.ad .container .ad-content {
  font-family: inherit;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 52px;
  letter-spacing: -0.015em;
  margin-top: 0;
  margin-bottom: 0;
}
.bilal-header-nav {
  position: absolute;
  width: 100%;
}

/* Vegetables Section Started  */

/* Vegetables Section  Started */

ol,
ul {
  list-style: none;
  
}
a {
    text-decoration: none;
    color: inherit;
  }

.section-four {
  background-color: #7A3145;
}

.section-four .container {
  padding: 100px 100px;
  width: 100%;
  height: 100%;
  
}

.section-four .section-four-container .section-four-header {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: 600;
  font-size:64px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 24px;
  max-width: 508px;
}
.section-four .section-four-container .section-four-text {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 0em;
  line-height: 1.25;
  margin-bottom: 52px;
  max-width: 626px;
  
}
.section-four .section-four-container .section-four-header .vegetables-span{
  color: #D4BFC4;
}

.section-four .section-four-container .section-four-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 28px;
  align-items: center;
}

.section-four .section-four-container .section-four-list .section-four-vegetables {
  background-color: #FBFBFB;
  border-radius: 40px;
  padding: 32px 32px;
  width: calc((100% - 100px) / 3);
}

.section-four  .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-header {
  font-family: 'Inter Tight', sans-serif;
  text-transform: uppercase;
  color: #7A3145;
  font-weight: 600;
  font-size:32px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 12px;

}
.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-text {
  font-family: 'Inter Tight', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.42;
  margin-bottom: 8px;
}

.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-div-two {
  display: flex;
  justify-content: center;
  
  
}

/* Vegetables Section  Finish */

.order{
  background-color:#576F35;
}

.order .container{
  padding-top: 100px;
  width: 100%;
  height: 100%;
  
}
.order .container .div-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  width:751px ;
  height: 192px;
  
}

.order .container .div-order .order-header{
  font-family: inherit;
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 64px;
  letter-spacing: -0.015em;
  color: #FBFBFB;
  padding-bottom: 24px;
  padding-left: 100px;
}
.order .container .div-order .order-header .header-span{
  color: #D4BFC4;
}

.order .container .div-order .order-content{
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FBFBFB;
  padding-left: 100px;
}

.order .container .div-form-block{
  padding: 80px 0;
  padding-top: 52px;
  padding-bottom: 100px;
  gap: 32px;
  display: flex;
  flex-direction: row;

}
.order .container .div-form-block .form-container{
  width: 100%;
  margin-left: 100px;
}

.order .container .div-form-block .form{
  background-color: #FBFBFB;
  width: 100%;
  border-radius: 30px;
  padding: 48px 48px 52px 52px ;
  
}

.order .container .div-form-block .form-container .form .form-header{
  font-family: inherit;
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: #141414;
  text-transform: uppercase;
}

.order .container .div-form-block .form-container .form .form-header .form-span-1{
  color: #7A3145;
}

.order .container .div-form-block .form-container .form .form-header .form-span-2{
  color:#576F35;
}

.order .container .div-form-block .form-container .form .form-group-full-name{
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 52px;
  text-align: center;
  align-items: center;
}


.order .container .div-form-block .form-container .form .form-group-full-name .form-input-name{
  border: 1px solid #858585;
  border-radius: 30px;
  font-family: inherit;
  width: 100%;
  height: 52px;
  background-color: transparent;
  padding-left: 14px;
  outline: none;
}

.order .container .div-form-block .form-container .form .form-group-full-name .form-input-name::placeholder{
  color: #141414;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.order .container .div-form-block .form-container .form .form-group-full-name .form-input-name:focus{
  border: 1px solid #7A3145;
}
.order .container .div-form-block .form-container .form .form-group-full-name .form-input-name:not(:placeholder-shown):invalid{
  border: 1px solid #E74A3B;
}
.order .container .div-form-block .form-container .form .form-group-full-name .form-input-name:not(:placeholder-shown):valid{
  border: 1px solid #3CBC81;
}

.order .container .div-form-block .form-container .form .form-group-email{
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
  text-align: center;
  align-items: center;
}

.order .container .div-form-block .form-container .form .form-group-email .form-input-email{
  border: 1px solid #858585;
  border-radius: 30px;
  font-family: inherit;
  width: 100%;
  height: 52px;
  background-color: transparent;
  padding-left: 14px;
  outline: none;
}

.order .container .div-form-block .form-container .form .form-group-email .form-input-email::placeholder{
  color: #141414;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.order .container .div-form-block .form-container .form .form-group-email .form-input-email:focus{
  border: 1px solid #7A3145;
}
.order .container .div-form-block .form-container .form .form-group-email .form-input-email:not(:placeholder-shown):invalid{
  border: 1px solid #E74A3B;
}
.order .container .div-form-block .form-container .form .form-group-email .form-input-email:not(:placeholder-shown):valid{
  border: 1px solid #3CBC81;
}
.order .container .div-form-block .form-container .form .form-textarea{
  gap: 16px;
  margin-top: 16px;
  text-align: center;
  align-items: center;
}

.order .container .div-form-block .form-container .form .form-textarea .form-input-textarea{
  border: solid 1px #858585;
  border-radius: 15px;
  width: 100%;
  height: 96px;
  background-color: transparent;
  padding-left: 15px;
  padding-top: 16px;
  outline: none;

}

.order .container .div-form-block .form-container .form .form-textarea .form-input-textarea::placeholder{
  color: #141414;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.order .container .div-form-block .form-container .form .form-button{
  background-color: #7A3145;
  color: #FBFBFB;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
}

.order .container .div-form-block .order-social{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #7A3145;
  border-radius: 30px;
  margin-right: 100px;
}

.order .container .div-form-block .order-social .social-img img{
  border-radius: 15px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 52px;
}
.order .container .div-form-block .order-social .social-img{
text-align: center;
}

.order .container .div-form-block .order-social .social{
  display: flex;
  flex-direction: column;
  width: 386px;
  height: 56px;
  margin: auto;
  align-items: center;
}

.order .container .div-form-block .order-social .social .social-header{
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #D4BFC4;
}

.order .container .div-form-block .order-social .social .social-list{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 16px;
}

.order .container .div-form-block .order-social .social .social-list .social-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.order .container .div-form-block .order-social .social .social-list .social-list-item .social-list-item-link{
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #FBFBFB;
  text-decoration: none;
  text-transform: uppercase;
}

/* Order ended */

/* Footer */
.footer {
  background-color: #7A3145;
  color: #FBFBFB;
  padding: 40px 20px;
  font-family: 'Inter Tight', sans-serif;
  position: relative; 
 width: 100%;
   bottom: 0;
   }
   
   
   
   .footer-container {
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    padding: 52px 5%;
   align-items: flex-start;
    margin-top: 0;
   }
   
   
   
   .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
   }

   
   .footer-logo, .footer-text {
    width: 100%;
    text-align: left;
   }
   
   
   .footer-logo {
    width: 216px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
   }
   .footer-logo .icon-menu{
     width: 20px
   }
     
   
   .footer-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    height: 60px;
   }
   
   
   
   .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
   }
   
   
   .footer-links a {
    color: #FBFBFB;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
   }
   
   
   .footer-links a:hover {
    text-decoration: underline;
   }
   .footer-contact,
   .footer-address {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: auto; 
   justify-content: flex-start; /* Sağ tarafa hizalamak için */
 line-height: 20px;
   margin-top: 0;
   margin-bottom: 12px;
    }
   
   
   
   
   .footer-contact {
    width: 163px; /* Verilen genişlik */
    height: 20px; /* Verilen yükseklik */
    margin-bottom: 12px;
   }
   
   
   .footer-address {
   width: 215px; /* Verilen genişlik */
   height: 40px; /* Verilen yükseklik */
   
   }
   
   .footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   
   .footer-privacy {
    width: 565px;
    height: 20px;
    gap: 12px;
    display: flex;
    margin-left: 5%;
   }
   
   
   .footer-privacy a {
    color: #D4BFC4;
    text-decoration: none;
   }
   
   
   .footer-privacy a:hover {
    text-decoration: underline;
   }
   
   
   
   .footer-copyright {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #D4BFC4;
   display: flex;
    justify-content: flex-end;
    align-items: center;
   } 
   /* Footer Finish*/


/* Mobile Responsive */
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .hero-text h1 {
    width: unset;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 52px;
    margin-left:0;
  }
  .hero-text p {
    width: unset;
    font-size: 14px;
    margin-left:0;
  }
  .hero-image {
    height:50vh;
  }


  .ad .container {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  header .is-open {
    display: flex;
  }
  /* Vegetables Section Mobile Started  */

.section-four {
  background-color: #7A3145;
}

.section-four .container {
  padding: 80px 10px;
  width: 100%;
  min-width: 320px;
  height: 100%;    
}
.section-four .section-four-container .section-four-header {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: 600;
  font-size:48px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.section-four .section-four-container .section-four-text {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 0em;
  line-height: 1.25;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.section-four .section-four-container .section-four-header .vegetables-span{
  color: #D4BFC4;
}

.section-four .section-four-container .section-four-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-four .section-four-container .section-four-list .section-four-vegetables {
  background-color: #FBFBFB;
  border-radius: 40px;
  padding: 32px 24px;
  width: calc((100% - 20px) / 1);
}


.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-header {
  font-family: 'Inter Tight', sans-serif;
  text-transform: uppercase;
  color: #7A3145;
  font-weight: 600;
  font-size:28px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 12px;
  white-space:nowrap;

}
.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-text {
  font-family: 'Inter Tight', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.42;
  margin-bottom: 12px;
}
  .how-it-works .how-it-image .how-it-image-woman {
    height: 452px;
  }

  /* Order Section Mobile*/
  .order .container .div-form-block{
    display: flex;
    flex-direction: column;
}
.order .container .div-form-block .form-container{
    margin-left: 0;
}
.order .container .div-form-block .form{
    width: 90vw;
    margin-left: 20px;
    padding: 40px 20px;
  
}
.order .container .div-order{
    width: unset;
}
.order .container .div-form-block .order-social{
    width: 90vw;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.order .container .div-form-block .order-social .social{
    margin-bottom: 20px;
    width: unset;
    height: unset;
}
.order .container .div-order .order-header{
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-left: 20px;
}
.order .container .div-order .order-content{
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
}
.order .container .div-order{
    padding: unset;
    height: unset;
}
.order .container .div-form-block .order-social .social .social-list{
    gap: 3px;
}
  .order .container .div-form-block .order-social .social-img img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
.order .container .div-form-block .form-container .form .form-header{
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  }

/* Footer Section Mobile */
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: auto;
  align-items: flex-start;
}

.footer-logo-img,
.footer-text {
  width: 100%;
  text-align: left;
}

.footer-text {
  font-size: 14px;
  line-height: 18px;
}

.footer-links,
.footer-contact,
.footer-address {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-contact,
.footer-address {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.footer-privacy,
.footer-copyright {
  width: 100%;
  text-align: left;
  margin: 20px;
  justify-content: flex-start;
}

.footer-privacy {
  margin-bottom: 10px;
}

.footer-copyright {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Footer Section Mobile Finish */
/*Review Section mobile*/
.reviews-section {
  display:block;
  justify-content: center;
  width: 100%;
  height: 584px;
  background-color: #ffffff;
  margin-bottom: 31.5px;
  
}
.rvw-title-box {
  display: block;
  width: 100%;
  height: 236px;
  margin: 80px auto 40px auto;


}
.rvw-title {
  display: block;
  width: 100%;
  height: 156px;
  font-size:48px ;
  font-family: 'Inter Tight';
  text-transform: uppercase;
  line-height: 52px;
  letter-spacing: -1px;
  font-weight:600;
  margin-left:20px;
  margin-right:20px;
}
.rvw-title-a{
  display: block;
  width: 75%;
  min-width: 335px;
  height: 156px;
}
.rvw-title-b {
  color: #576f35;
}

.rvw-title-paragraph {
  width: 90%;
  height: 60px;
  line-height: 20px;
  font-size: 14px;
  font-family:"Inter Tight";
  margin-left:20px;
  margin-right:20px;
  font-weight: 500;
}
.rvw-customer-reviews {
  width: 100%;
  overflow-x: auto; /* Yatay kaydırmayı aktif eder */
  scroll-snap-type: x mandatory; /* Scroll snapping etkinleştirilir */
  margin-bottom: 10px;
}
.customer-box {


  height: 188px;  
  display: block;
  margin: auto 0;
  text-align: center;
  
  
}
.rvw-photo{
  border-radius: 50%;
  width:56px;
  height:56px;
   }
.customer-ul {
  padding-inline-start: 0;
  display: flex;
  gap: 32px;
  margin-left: 32px;
  margin-bottom: 100px;
}
.customer-ul .customer-li{
  display: inline;        
}
.customer-list {
  list-style-type: none;
  height: 228px;
  border:1px solid #D4BFC4;
  border-radius: 24px;
  padding:20px 16px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: fit-content;

  
}
.customer-name-review{
  display: block;
  width: 302px;
  height:108px;
}

.customer-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  font-weight: 600;
}
.customer-review {
  width: 288px;
  height: 80px;
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #858585;
}

/*Review Section Mobile Finish*/



/* Vegetables Section Mobile Finish */
}
/*Tablet Responsive */
@media (min-width: 768px) and (max-width: 1279px) {
  .how-it-works .how-it-image {
    padding: 100px 64px;
  }

  .how-it-works .how-it-image .how-it-image-woman {
    min-width: 640px;
    height: 640px;
    object-fit: cover;
  }

  .how-it-works .how-it-about {
    padding: 100px 164px;
  }

  .how-it-works .how-it-about .how-it-about-menu {
    max-width: 450px;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-title {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-list .how-it-items {
    font-size: 16px;
    line-height: 1.25;
  }

  .how-it-works
    .how-it-about
    .how-it-about-menu
    .how-it-list
    .how-it-items
    .how-it-items-text {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
  }
  .hero {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }
  .hero-text h1 {
    width: unset;
    margin-bottom: 24px;
    margin-right: 32px;
    margin-left:0;
  }
  .hero-text p {
    width: unset;
    padding-right: 60px;
    margin-left:0;
  }
  .hero-image {
    height: 50vh;
  }


  header .is-open {
    display: flex;
    width: 351px;
    right: 0;
    z-index: 2;
  }
  .is-active {
    background-color: rgba(20, 20, 20, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .modal-button {
    width: 40px;
    height: 40px;
  }
  .ad .container {
    width: calc(100% - 64px);
    margin: auto;
    margin-top: 120px;
    margin-bottom: 112px;
  }
  .ad .container .ad-header,
  .ad .container .ad-content {
    font-size: 64px;
    line-height: 64px;
  }
  .bilal-header-modal {
    width: 45%;
    position: absolute;
    right: 0;
    display: none;
  }
  .bilal-header-left-icons .icon-menu {
    width: 20px;
    height: 20px;
  }
  .bilal-header-left-icons .icon-menu-text {
    width: 187px;
    height: 17px;
  }
   /* Vegetables Section Tablet Started */

.section-four {
  background-color: #7A3145;
}

.section-four .container {
  padding: 100px 32px;
  width: 100%;
  height: 100%;
  
}

.section-four .section-four-container .section-four-header {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  text-transform: uppercase;
  font-weight: 600;
  font-size:64px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 24px;
  max-width: 508px;
}
.section-four .section-four-container .section-four-text {
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 0em;
  line-height: 1.25;
  margin-bottom: 52px;
  max-width: 626px;
  
}
.section-four .section-four-container .section-four-header .vegetables-span{
  color: #D4BFC4;
}

.section-four .section-four-container .section-four-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 28px;
}

.section-four .section-four-container .section-four-list .section-four-vegetables {
  background-color: #FBFBFB;
  border-radius: 40px;
  padding: 32px 30px;
  width: calc((100% - 32px) / 2);
}

.section-four  .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-header {
  font-family: 'Inter Tight', sans-serif;
  text-transform: uppercase;
  color: #7A3145;
  font-weight: 600;
  font-size:32px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 12px;

}
.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-text {
  font-family: 'Inter Tight', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.42;
  margin-bottom: 8px;
}

.section-four .section-four-container .section-four-list .section-four-vegetables .vegetables-div .vegetables-div-two {
  display: flex;
  justify-content: center;
}

/* Vegetables Section Tablet Finish */

/* Order Section Tablet */
.order .container .div-form-block{
  display: flex;
  flex-direction: column;
}
.order .container .div-form-block .form-container{
  margin-left: 0;
  
}
.order .container .div-form-block .form{
  width: 90vw;
  margin-left: 40px;
  padding: 72px 100px 72px 100px;
  
}
.order .container .div-form-block .order-social{
  width: 90vw;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
}
.order .container .div-form-block .order-social .social{
  margin-bottom: 20px;
  width: unset;
  height: unset;
}
.order .container .div-form-block .order-social .social-img img{
  margin-bottom: 52px;
}

.order .container .div-order .order-header{
  padding-left: 40px;
}
.order .container .div-order .order-content{
  padding-left: 40px;
}

/* Footer Section Tablet  */
.footer-container {
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  align-items: flex-start; /* Üst hizalama için */
}

.footer-logo-img {
  width: 200px;
  height: 18px;
}

.footer-text {
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  margin-top: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 0;
}

.footer-section:first-child {
  flex: 1; /* Sol tarafa yayılsın */
}

.footer-section:nth-child(2) {
  align-self: flex-start; /* Üste hizalar */
  margin-left: auto; /* Sağa yaslar */
}

.footer-section:last-child {
  align-self: flex-start; 
  margin-left: auto;
  text-align: right; 
  margin-right: 20px;
  margin-top: 30px;
}

.footer-bottom {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-privacy {
  width: auto;
  text-align: left;
  margin-right: 20px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 500;
  color: #D4BFC4;
  width: auto;
  text-align: right;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.footer-address {
  text-align: left;  /* Adres sağda kalır */
  margin-top: 0; /* Ekstra boşluk bırakmaz */
}

/* Footer Section Tablet Finish */
/*Review Section Tablet*/
.reviews-section {
  display:block;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.rvw-title-box {
  display: block;
  width: 100%;
  height: 100%;
  margin: 80px auto 40px auto;
  

}

.rvw-title {
  display: block;
  width: 100%;
  height: 156px;
  font-size:64px ;
  font-family: 'Inter Tight';
  text-transform: uppercase;
  line-height: 52px;
  letter-spacing: -1px;
  font-weight:600;
  margin-left:32px;
  margin-right:20px;
}
.rvw-title-a {
  display: block;
  height: 128px;
  width: 75%;
  line-height: 64px;
}
.rvw-title-b {
  color: #576f35;
}

.rvw-title-paragraph {
  width: 75%;
  height: 60px;
  line-height: 20px;
  font-size: 16px;
  font-family:"Inter Tight";
  margin-left:32px;
  margin-right:20px;
  margin-top: -24px;
  font-weight: 500;
}
.rvw-customer-reviews {
  width: 100%;
  overflow-x: auto; /* Yatay kaydırmayı aktif eder */
  scroll-snap-type: x mandatory; /* Scroll snapping etkinleştirilir */
}
.customer-box {
  height: 188px;  
  display: block;
  margin: auto 0;
  text-align: center; 
 
}
.rvw-photo{
  border-radius: 50%;
  width:56px;
  height:56px;
   }

.customer-ul {
  display:flex;
  gap: 32px;
  margin-left: 32px;
  margin-bottom: 100px;
  
}

.customer-list {
  list-style-type: none;
  height: 248px;
  border:1px solid #D4BFC4;
  border-radius: 24px;
  padding:20px 16px;
  align-items: center;
  display: block;
  width: fit-content;
  float: left;
  
  

}
.customer-name-review{
  display: block;
  width: 302px;
  height:108px;
}

.customer-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -1px;
  font-weight: 600;
}
.customer-review {
  width: 288px;
  height: 80px;
  display: block;
  line-height: 20px;
  font-size: 16px;
  color: #858585;
  font-weight:500;
}

/*Review Section Tablet Finish*/
}
/* Desktop Only Codes */
@media (min-width: 1280px) {
  .how-it-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7a3145;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .how-it-works .how-it-image {
    width: 100%;
    padding: 100px;
  }

  .how-it-works .how-it-image .how-it-image-woman {
    max-width: 100%;
  }

  .how-it-works .how-it-about {
    width: 100%;
    padding: 100px;
  }

  .how-it-works .how-it-about .how-it-about-menu {
    min-height: 560px;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-title {
    font-size: 32px;
    margin: 0 0 24px 0;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-text {
    font-size: 16px;
    margin: 0 0 104px 0;
  }

  .how-it-works .how-it-about .how-it-about-menu .how-it-list {
    gap: 24px;
  }
  .how-it-works
    .how-it-about
    .how-it-about-menu
    .how-it-list
    .how-it-items
    .how-it-items-text {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
  }
  .ad .container {
    width: calc(100% - 200px);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .ad .container .ad-header,
  .ad .container .ad-content {
    font-size: 72px;
    line-height: 72px;
  }
  .bilal-header-leftside-links,
  .bilal-header-rightside-links {
    display: inline;
  }
  .bilal-header-leftside-links:hover {
    background-color: #d4bfc4;
    color: #7a3145;
  }
  .bilal-header-leftside-links:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }
  .bilal-header-rightside-links:hover {
    background-color: #d4bfc4;
    color: #7a3145;
  }
  .bilal-header-rightside-links:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .bilal-header-left-icons .icon-menu {
    width: 20px;
    height: 20px;
  }
  .bilal-header-left-icons .icon-menu-text {
    width: 187px;
    height: 17px;
  }
  .icon-menu-hamburger {
    display: none;
  }
  .bilal-header-right-icons {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
  .bilal-header-leftside-links {
    border: 1px solid #fbfbfb;
    color: white;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
  }
  .bilal-header-rightside-links {
    background-color: #7a3145;
    font-family: Inter Tight;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 30px;
    border: none;
    color: white;
    text-decoration: none;
    padding: 16px 32px;
  }
  .bilal-header-container {
    padding: 32px 100px 0 100px;
  }
  /*Review Section Desktop*/
  .reviews-section {
    display:block;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;

}
.rvw-title-box {
    display: block;
    width: 100%;
    height: 100%;
    margin: 80px auto 40px auto;
    

}

.rvw-title {
    display: block;
    width: 100%;
    max-width:750px ;
    height: 156px;
    font-size:64px ;
    font-family: 'Inter Tight';
    text-transform: uppercase;
    line-height: 64px;
    letter-spacing: -1px;
    font-weight:600;
    margin-left:100px;
    margin-right:20px;
}
.rvw-title-a {
    display: block;
    height: 128px;
    width: 75%;
    line-height: 64px;
}
.rvw-title-b {
    color: #576f35;
}

.rvw-title-paragraph {
    width: 75%;
    max-width:553px;
    height: 60px;
    line-height: 20px;
    font-size: 16px;
    font-family:"Inter Tight";
    margin-left:100px;
    margin-right:20px;
    margin-top: 0;
    font-weight: 500;
}
.rvw-customer-reviews {
    width: 100%;
}
.customer-box {
    height: 188px;  
    display: block;
    margin: auto 0;
    text-align: center; 
   
}
.rvw-photo{
    border-radius: 50%;
    width:56px;
    height:56px;
     }

.customer-ul {
    display:flex;
    gap: 32px;
    margin-left: 100px;
}

.customer-list {
    list-style-type: none;
    height: 248px;
    border:1px solid #D4BFC4;
    border-radius: 24px;
    padding:20px 16px;
    align-items: center;
    display: block;
    width: fit-content;
    float: left;
    justify-content: center;
    margin-bottom: 100px;
    
    

}
.customer-name-review{
    display: block;
    width: 302px;
    height:108px;
}

.customer-name {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    font-weight: 600;
}
.customer-review {
    width: 288px;
    height: 80px;
    display: block;
    line-height: 20px;
    font-size: 16px;
    color: #858585;
    font-weight:500;
}
/*Review Section Desktop Finish*/
}
.rvw-customer-reviews {
    overflow-x: auto; /* Yatay kaydırmayı aktif eder */
    margin-bottom: 1.25px;
    width: 99%;
}

  .rvw-customer-reviews::-webkit-scrollbar{
    width: 5px;
    max-height: 10px;
  }
  
  /* Track */
  .rvw-customer-reviews::-webkit-scrollbar-track {
    background: #ffffff; 
    max-height: 10px;
    border-radius: 10px;
  }
   
  /* Handle */
  .rvw-customer-reviews::-webkit-scrollbar-thumb {
    background: #576F35; 
    max-height: 10px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .rvw-customer-reviews::-webkit-scrollbar-thumb:hover {
    background: #576F35; 
    max-height: 10px;
    
  }
  ::-webkit-scrollbar {
    width: 0;
  }
